



.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/node_modules
/vendor
/tests/e2e/.auth
/storage/app/qa
/test-results
/playwright-report
data.ms/indexes/*
public/hot
.env
